.navbar {
  position: fixed;
  bottom: 0;
  left: inherit;
  width: calc(100% - var(--padding) * 2);
  height: 64px;
}

.active {
  color: var(--content-color);
}

.inactive {
  color: var(--gray-500);
}