.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: inherit;
  height: 64px;

  border-top: 1px solid var(--gray-100);
}

.active {
  color: var(--content-color);
}

.inactive {
  color: var(--gray-500);
}